main {
  min-height: 80vh;
}

.rating spam {
  margin: 0.1rem;
}

h3 {
  padding: 1rem 0;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}
h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

.rating span {
  margin: 0.1rem;
}

/* carousel */
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
}
.carousel-caption {
  position: absolute;
  top: 0;
}
.bg-green {
  background-color: #567714 !important;
}
.carousel-caption h2 {
  color: #fff;
}
.font-bold {
  font-weight: bold;
}
.float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 5px;
  background-color: #25d366;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 3px #999;
  z-index: 100;
}

.my-float {
  margin-top: 16px;
}
.linkw {
  width: 205px;
  text-decoration: none;
}
.nofloat {
  width: 32px;
  height: 32px;
  margin-left: 20px;
  background-color: #25d366;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 25px;
  box-shadow: 2px 2px 3px #999;
  z-index: 100;
  display: flex;
  justify-content: space-between;
}
.my-float2 {
  margin-top: 5px;
  margin-left: 5px;
}
.ml {
  margin-left: 12px;
}

.carousel img {
  height: 300px;
  width: 400px;
  padding: 40px;
  margin: 30px;
  margin-top: -8px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  background-color: white;
}
.carousel a {
  margin: 0 auto;
}

.rounded1 {
  border-radius: 50%;
  background-color: white;
  width: 400px;
  height: 280px;
  margin: auto;
  display: block;
  text-align: center;
  overflow: hidden;
  margin-top: 40px;
  margin-bottom: 25px;
}
.carousel-item {
  padding-bottom: 20px;
}
.photo {
  height: 90px;
  width: 160px;
}
.carousel-item .rounded1 .carousel-caption {
  padding-top: 0px;
}
@media (max-width: 900px) {
  .carousel-caption h2 {
    font-size: 2.5vw;
  }
  .rounded1 {
    display: flex;
    width: 300px;
    height: 260px;
    text-align: center;
    margin-bottom: 25px;
  }

  .carousel img {
    height: 280px;
    width: 280px;
    padding: 40px;
    margin: 30px;
    margin-top: -8px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    background-color: white;
  }
  .carousel-control-prev,
  .carousel-control-next {
    width: 7% !important;
  }
  .my-float2 {
    margin-top: 3px;
    margin-left: 5px;
  }
  .linkw {
    width: 30px;
    clear: right;
  }

  .nofloat {
    width: 27px;
    height: 27px;
    margin-left: 20px;
    background-color: #25d366;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 19px;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
    display: flex;
    justify-content: space-between;
  }
  .notext {
    visibility: hidden;
  }
}
